* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 25px;
  background-color: whitesmoke;
}

nav {
  background-color: black;
  padding: 15px 5% 5px;
  font-family: sans-serif;
  font-size: 22px;
}
.manue_icon{
  cursor: pointer;
  display: none;
}
.manue_icon span{
  display: block;
  background-color: white;
  height: 1px;
  width: 30px;
  margin: 5px 0  10px 0 ;
}
.logo_manue{
  /* width: 100%; */
  width: 20%;
  display: flex;
  justify-content: space-between;

}
.manu_block{
    display: block !important;
}
nav>ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  flex: 1;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}
nav>ul li{
  /* display: none; */
  flex-basis: 100px;
}
nav>ul>li:first-child{
  display: block;
}

nav>ul li>a {
  text-decoration: none;
  color: white;
  
}
nav>ul li{
  border-bottom: 1px solid black;
  transition: 0.5s;
  padding-bottom: 10px;
}
nav>ul li:hover {
  border-bottom: 1px solid white;
  transition: 0.5s;
}
.registration {
  padding: 25px 0 0 0;
  text-align: center;
}

.registration h2 {
  text-align: center;
  padding: 35px 0;
}
.registration h3{
  padding-bottom: 35px;
  color: red;
}


.input_lable_component {
  margin-bottom: 50px;
}

.input_lable_component>.input_lable_component_input {
  width: 200px;
  height: 30px;
}
.input_lable_component div{
  padding-bottom: 10px;
}

.sign_in h2 {
  margin-bottom: 30px;
}
.sign_in div input{
  width: 200px;
  height: 30px;
  margin: 20px 0;
}

input:focus {
  outline: none !important;
  transition: 0.5s;
}


.registration button ,.sign_in button {
  display: inline-block;
  width: 200px ;
  border: none;
  color: white;
  background-color: black;
  padding: 10px 5px;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 30px;
}
.sign_in{
  padding: 25px 0 0 0;
  text-align: center;
}
.sign_in{
  padding-bottom: 35px;
}
.about_us{
  text-align: center;
  padding-top: 50px;
}
.about_us p {
  margin-top: 30px;
  font-size: 25px;
  text-align: left;
  padding: 25px;
}
.contacts{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  text-align: center;
}
.contacts img{
  width: 30%;
  display: block;
}
.contacts a{
  color:#000000;
  text-decoration: none;
}
footer ul {
  display: flex;
  background-color: #000000;
  padding: 10px 0 20px;
  flex-wrap: wrap;
  color: white;
  gap: 60px;
  justify-content: space-around;
}

footer ul li {
  list-style-type: none;

}

footer ul li a {
  text-decoration: none;
  color: white;
}



/* @media -------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 900px) {
  .manue_icon{
    display: block;
  }
  .navigation{
    display: none ;
    transition: 0.5s;
  }
 
  
  .logo_manue{
    width: 100%;
  }
}

